@mixin breakpoint($point) {
  @if $point == xs {
    @media (max-width: 0) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 800px) {
      @content;
    }
  } @else if $point == mdh {
    @media (max-width: 820px) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: 880px) {
      @content;
    }
  } @else if $point == xl {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == xxl {
    @media (max-width: 1520px) {
      @content;
    }
  }
}

@include breakpoint(xxl) {
  .services__content-img {
    position: initial;
    border-radius: 20px;
    background-size: cover;
  }

  .card-grid2 {
    display: none;
  }

  .services__grid-wrapper {
    display: flex;
  }
}

@include breakpoint(xl) {
  .choose__wrapper {
    justify-content: center;
  }

  .choose__card-wrapper {
    grid-template-columns: repeat(2, 284px);
    row-gap: 28px;
  }

  .card-3 {
    width: 600px;
    display: flex;
    align-items: center;
  }

  .card__3-text {
    width: 248px;
  }
  .services__wrapper {
    padding: 40px 12px;
  }

  .services__wrapper {
    gap: 80px;
  }

  .services__content {
    flex-direction: column;
    gap: 32px;
  }

  .mobile-revers {
    flex-direction: column-reverse;
  }
  .assortement__card-wrapper {
    grid-template-columns: repeat(2, 268.09px);
    row-gap: 55px;
  }
  .reviews__cards-wrapper {
    display: grid;
    background-size: cover;
    justify-content: center;
    grid-template-columns: repeat(2, 370px);
    grid-template-rows: 476px;
    gap: 40px;
  }

  .scroll__left {
    display: none;
  }

  .reviews__mobile-extension {
    display: none;
  }

  .scroll__right {
    display: none;
  }

  .reviews__scroll-mobile {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
  .footer__information {
    justify-content: center;
    gap: 114px;
  }

  .footer__column-grid {
    grid-template-columns: repeat(2, 133px);
    row-gap: 45px;
  }

  .copyright {
    justify-content: center;
    gap: 520px;
  }

  .privacy__policy {
    display: inline;
    text-align: end;
  }
}

@include breakpoint(lg) {
  .choose__wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 60;
    padding: 218px 12px 80px;
  }

  .choose__card-wrapper {
    grid-template-columns: 284px;
    row-gap: 28px;
  }

  .choose__card {
    gap: 18px;
  }

  .card-3 {
    width: 284px;
    display: grid;
  }

  .choose__card-name {
    font-weight: 700;
  }
}

@include breakpoint(mdh) {
  .navigation__wraper {
    padding: 40px 12px 105px;
  }

  .navigation__menu {
    display: none;
  }

  .burger__wrapper {
    display: block;
  }

  .checkbox-menu {
    display: none;
  }

  .checkbox-menu:checked ~ .burger__menu .burger-line:first-child {
    transform: rotate(45deg);
  }

  .burger__menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 36px;
    height: 36px;
    padding: 4px 3px;
  }

  .burger-line {
    padding: 2px;
    border-radius: 2px;
    background-color: #ffffff;
  }
}

@include breakpoint(md) {
  .bg__img {
    width: 100%;
    height: 812px;
    background: url(../images/bg__img-mobile.png) center no-repeat;
    background-size: cover;
  }

  .section__title {
    line-height: 51px;
  }
  .service-title {
    font-size: 28px;
  }

  .dopservice-title {
    font-size: 16px;
  }

  .footer__wraper {
    gap: 45px;

    margin-top: 40px;
    padding: 60px 12px 13px;
  }

  .footer__information {
    align-items: center;
    flex-direction: column;
    gap: 42px;
  }

  .footer__column-grid {
    align-items: end;

    column-gap: 35px;
    row-gap: 35px;
  }

  .privacy__policy-mobile {
    display: block;
  }

  .privacy__policy-desktop {
    display: none;
  }
  .reviews__wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 40px 12px;
  }

  .reviews__cards-wrapper {
    display: grid;
    background-size: cover;
    justify-content: center;
    grid-template-columns: repeat(1, 335.8px);
    grid-template-rows: 432px;
  }

  .reviews__card-background {
    gap: 4px;
    padding: 14px 23px;
  }

  .card__information-person {
    display: initial;
  }

  .reviews__card-name {
    padding-top: 13px;
    line-height: 27px;
  }

  .reviews__card-subname {
    line-height: 18px;
  }

  .reviews__card-comment {
    padding-top: 4px;
    line-height: 21px;
  }

  .reviews__mobile-extension2 {
    display: none;
  }
}

@include breakpoint(sm) {
  .assortment__wrapper {
    padding: 60px 12px 36px;
  }

  .assortement__menu {
    width: 333px;
  }

  .assortement__card-wrapper {
    grid-template-columns: 335px;
    row-gap: 78px;
    padding: 110px 0 60px;
  }

  .img-style {
    left: 60px;
  }
  .services__content-img {
    display: none;
  }

  .mobile__services-img {
    display: initial;
    background-size: cover;
  }

  .services__grid-wrapper {
    flex-direction: column;
  }
}
